:root{
    overflow:hidden;
    --main-dark-color: #2D2826;
    --functional-dark-color: #3D3532;
    --functional-active-dark-color: #4d4036;
    --main-button-dark-color: #C2410C;
    --main-text-dark-color: #FFFFFF;
    --text-dark-color: #9CA3AF;
    --text-dark-active: #FB923C;
    --secondary-text-dark-color: #9CA3AF;
    --third-text-dark-color: #F5F0E6;
    --border-dark: #2E386B;
    --border-dark-active: #8F99CC;
    --border-dark-active-2: #fffb00;
    --default-border-dark: #2D2826;
    --background-dark: #1A1817;

    --main-light-color: #FFFFFF;
    --functional-light-color: #F1F5F9;
    --functional-active-light-color: #c6cef3;
    --main-button-light-color: #2563EB;
    --main-text-light-color: #0D0F1C;
    --secondary-text-light-color: #47579E;
    --third-text-light-color: #F5F0E6;
    --text-light-color: #4B5563;
    --text-light-active: #1D4ED8;
    --border-light: #2E386B;
    --border-light-active: #8F99CC;
    --border-light-active-2:#2563EB;
    --default-border-light: #b3b3b3;
    --background-light: #F8F9FC;

    --yellow-exception-color:orange;
    --red-error-color: #cb0000;
    --green-okay-color: yellowgreen;

    background: radial-gradient(circle, rgba(33, 32, 89, 1) 0%, rgba(31, 29, 27, 1) 100%);
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100%;
}

.WideBlock{
    min-height: calc(100% - 8vh);
}

@media (min-width: 520px) {
    .App{
        width: 100vw;
        height: 100vh;
        border-radius: 8px;
    }
    .WideBlock{
        position: absolute;
        top: 8vh;
        width: calc(100% - 300px);
        right: 0;
        margin-left: 5%;
        /* background-color: orangered; */
    }
    .PagePreview{
        border-bottom: black solid 2px;
    }
    .SquareButton{
        /* margin-left: 25px; */
        scale: 0.75;
    }
}
@media (max-width: 520px) {
    .App{
        width: 100%;
        height: 100%;
    }
    .WideBlock{
        box-shadow: 0px 0px 14px 20px rgba(0,0,0,0.4);
    }
}

.App{
    position: relative;
    overflow-y: auto;
    /* background-color: var(--main-dark-color); */
}

.ScrollBar{
    scrollbar-color: #4d4d4d #e1ebe100;
}

.DefaultFont{
    font-family: "Manrope", sans-serif;
    user-select: none;
}

.PagePreview{
    position: relative;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 24px;
    font-size: 18px;
    z-index: 1;
}

.DefaultButton{
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    user-select: none;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--functional-dark-color);
    border-radius: 8px;
    width: 100px;
    height: 40px;
    transform: translateY(2px);
    /* transition: .1s; */
}

.DefaultButtonShadow{
    filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.767));
    transform: translateY(-2px);
}

.SquareButton{
    position: relative;
    width: 5vh;
    height: 5vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SettingsOpen{
    animation: SettingsOpen .4s linear;
}
.SettingsClose{
    animation: SettingsClose .4s linear;
}

@keyframes SettingsOpen {
    100%{
        transform: rotateZ(180deg);
    }
}
@keyframes SettingsClose {
    100%{
        transform: rotateZ(-180deg);
    }
}

.FileAnim{
    animation: FileAnim .4s linear;
}

@keyframes FileAnim {
    50%{
        transform: scale(70%) translateY(15%);
    }
    100%{
        transform: scale(100%);
    }
}

.InputFieldWrap{
    position: relative;
    margin-bottom: 5%;
    /* height: 6vh; */
    display: flex;
    width: 98%;
    
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    transition: .3s;
    min-height: 6vh;
    padding: 2%;
    box-sizing: border-box; 
}
.InputField{
    position: relative;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 18px;
    /* left: 2%; */
    /* top: 2%; */
    /* width: 96%; */
    flex-shrink: 0;
}
.InputField:-webkit-autofill{
    caret-color: var(--autofill-caret-color);
    height: auto;
    position: relative;
    -webkit-box-shadow: 0 0 0 30px var(--autofill-background-color) inset !important;
    -webkit-text-fill-color: var(--autofill-color);
    font-size: 18px;

    border: none;
    flex-shrink: 0;
}

textarea:focus, input:focus{
    outline: none;
}

.XIcon{
    transform: rotate(45deg);
}

.Tip{
    position: fixed;
    background-color: var(--functional-active-dark-color);
    color: var(--main-text-dark-color);
    z-index: 100;

    text-align: center;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;

    min-height: 30px;
    max-height: 80px;

    left: 5%;
    right: 5%;

    top: 120%;
    /* top: 50%; */

    border-radius: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
    animation: TipAnim 4s linear forwards;
}

.Tip > *{
    font-size: larger;
}


@keyframes TipAnim {
    20% {
        transform: translateY(-100vh);
    }
    60% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(-140vh);
    }
}

.Tip::after{
    position: absolute;
    content:"";
    display:block;
    height:5px;
    width: 0%;
    bottom: 0px;
    left: -15px;
    background-color: var(--tip-statusbar-color, red);
    animation: TipAfterAnim 4s linear forwards;
}

@keyframes TipAfterAnim {
    20% {
        width: 0%;
    }
    60% {
        width: 110%;
    }
    100% {
        width: 110%;

    }
}

/* ::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    background-color: black;
    height: 2px;
} */