body{
    overflow:hidden;
    --main-dark-color: #0F1224;
    --functional-dark-color: #21294A;
    --functional-active-dark-color: #303c6b;
    --main-button-dark-color: #617AFA;
    --main-text-dark-color: #FFFFFF;
    --secondary-text-dark-color: #8F99CC;
    --border-dark: #2E386B;
    --border-dark-active: #8F99CC;

    --main-light-color: #FFFFFF;
    --functional-light-color: #E5E8F5;
    --functional-active-light-color: #c6cef3;
    --main-button-light-color: #617AFA;
    --main-text-light-color: #0D0F1C;
    --secondary-text-light-color: #47579E;
    --border-light: #2E386B;
    --border-light-active: #8F99CC;

    background: radial-gradient(circle, rgba(33, 32, 89, 1) 0%, rgba(31, 29, 27, 1) 100%);
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100%;
}

@media (min-width: 520px) {
    .App{
        width: 520px;
        height: 100vh;
        border-radius: 8px;
    }
}
@media (max-width: 520px) {
    .App{
        width: 100%;
        height: 100%;
    }
}

.App{
    position: relative;
    /* background-color: var(--main-dark-color); */
}

.DefaultFont{
    font-family: "Manrope", sans-serif;
    user-select: none;
}

.PagePreview{
    position: relative;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 24px;
    font-size: 18px;
}

.DefaultButton{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--functional-dark-color);
    border-radius: 8px;
    width: 100px;
    height: 40px;
    transform: translateY(2px);
    /* transition: .1s; */
}

.DefaultButtonShadow{
    filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.767));
    transform: translateY(-2px);
}

.SquareButton{
    position: absolute;
    width: 4vh;
    height: 4vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.SettingsOpen{
    animation: SettingsOpen .4s linear;
}
.SettingsClose{
    animation: SettingsClose .4s linear;
}

@keyframes SettingsOpen {
    100%{
        transform: rotateZ(180deg);
    }
}
@keyframes SettingsClose {
    100%{
        transform: rotateZ(-180deg);
    }
}

.InputFieldWrap{
    position: relative;
    margin-bottom: 5%;
    height: 6vh;
    display: flex;
    width: 98%;
    
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    transition: .3s;
}
.InputField{
    position: relative;
    height: 60%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    left: 2%;
    width: 96%;
}

textarea:focus, input:focus{
    outline: none;
}