.InfoBlock{
    position: relative;
    display: block;
    border-radius: 8px;
    flex-shrink: 0;
    margin: 3%;
    height: 38vh;
    width: 45%;
}
.InfoWrap{
    position: relative;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: center;
}


@media (max-width: 520px) {
    .InfoBlock{
        width: 50%;
    }
    /* .InfoBlock{
        width: 90%;
        height: 19vh;
    }
    .InfoWrap{
        flex-direction: column;
    }
    .InfoWrap>.InfoBlock>.InfoIcon{
        display: none;
    } */
}

.InfoIcon{
    position: relative;
    height: 8vh;
    background-size: 100% 100%;
    aspect-ratio: 1;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}

.InfoText{
    position: relative;
    margin-bottom: 5%;
    display: inline-block;
    left: 5%;
    width: 90%;
    max-height: 10vh;
    overflow: hidden;
}
.InfoStats{
    position: relative;
    margin-bottom: 5%;
    left: 5%;
    width: 90%;
    max-height: 10vh;
}

.NewsBlock{
    width: 90%;
    height: 30vh;
    margin-left: 5%;
    margin-bottom: 3vh;
    background-color: aliceblue;
}