.Question{
    position: relative;
    left: 5%;
    width: 90%;
    
    /* color: var(--main-text-dark-color); */
    font-size: 22px;
    line-height: 28px;

    /* display: flex; */
}

.AnswersList{
    position: relative;
    left: 5%;
    width: 90%;
    
    scrollbar-color: #4d4d4d #e1ebe100;

    /* color: var(--main-text-dark-color); */
}