.ModalWindowBase{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s;

    z-index: 20;
}

.ModalWindow{
    position: absolute;
    width: 90%;
    height: 45vh;
    left: 5%;
    /* top: 27.5vh; */
    border-radius: 8px;
    transition: .2s;

    background-color: var(--functional-dark-color);
    z-index: 21;
}

.ModalTitle{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    /* top: -20px; */
    margin-top: 5px;

    font-size: 28px;
    font-weight: 700;
}