.UserInfoDefault{
    position: relative;
    margin-left: 2%;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.UserIconDefault{
    position: relative;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    overflow: hidden;
}
.IconSplash{
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: -30%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: .3s;
    /* opacity: 70%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.IconImage{
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110% 110%;
}

.ProfileBlock{
    position: relative;
    margin-bottom: 5%;
}   

@media (min-width: 520px) {
    .ProfileBlock{
        width: 300px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: var(--functional-active-light-color); */
        z-index: 1;
    }
    .UserInfoDefault{
        text-align: center;
    }
    .SmallButtonsBlock{
        position: relative;
        display: block;
        width: 100%;
    }
    .SmallButtonsBlock::before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        
        width: 60%;
        height: 2px;
        background-color: black;
    }
    .UserIconDefault{
        margin-top: 2.5vh;        
    }
}
@media (max-width: 520px) {
    .ProfileBlock{
        left: 5%;
        width: 90%;
        height: 17vh;
        display: -webkit-inline-box;
    }
    .SmallButtonsBlock{
        position: absolute;
        right: 0%;
        width: 4.5vh;
    }
}